<link rel ="stylesheet" href="/css/header.css">
<header>
    <div class="logo">
      <a href="/">
        <img class="" src="/images/logo_branca.png" alt="Logo ODS6">
      </a>
    </div>
    <nav>
      <ul class="nav">
        <li><a href="noticia"><b>Notícia</b></a></li>
        <li><a href="ongs"><b>ONGs</b></a></li>
        <li><a href="barracoes"><b>Barracões</b></a></li>
        <li><a href="Info-Ongs"><b> Info Ongs</b></a></li>
        <li><a href="Login"><b>Login</b></a></li>
        <li class="barra_p"><input type="search" placeholder="Buscar..."></li>
      </ul>
    </nav>
    <div class="user-profile">
  <a href="/login">
    <img class="PerfilLogo" src="/images/perfil-de-usuario.png" alt="Perfil do Usuário">
  </a>
  
</div>
  </header> 