<link rel ="stylesheet" href="/css/header.css">
<header>
    <div class="logo">
      <a href="/">
        <img class="" src="/images/logo_DOH-removebg-preview.png" alt="Logo ODS6">
      </a>
    </div>
    <nav>
      <ul class="nav">
        <li><a href="noticia">Notícia</a></li>
        <li><a href="ongs">ONGs</a></li>
        <li><a href="barracoes">Barracões</a></li>
        <li><a href="Info-Ongs">Info Ongs</a></li>
        <li><a href="Login">Login</a></li>
      </ul>
    </nav>
    <div class="user-profile">
  <a href="/login">
    <img class="PerfilLogo" src="/images/perfil-de-usuario.png" alt="Perfil do Usuário">
  </a>
</div>
  </header>