body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #ff0e0e;
    color: white;
    padding: 10px 20px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-button {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .logo img {
    height: 50px;
  }
  
  .user-profile img {
    height: 75px;
    width: 75px;
    
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  main {
    padding: 20px;
  }
  
  article {
    background-color: #E6F2FF;
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    color: #E6F2FF;
  }
  
  section p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
  }
  
  a {
    color: #00509E;
    text-decoration: none;
  }
  
  figure {
    text-align: center;
    margin-top: 20px;
  }
  
  figure img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
  }
  
  figcaption {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: white;
  }
  header.BM{
    background-color: #00509E;
  }