<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barracões</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/barracoes.css">
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <article id="barracoes">
      <header class="BM">
        <h1>Os Barracões</h1>
      </header>
      <section>
        <p>
          Os Barracões são as nossas Barracas de Campanha, sendo localizadas em áreas mais pobres de quaisquer regiões. Elas servem para propagar informações do nosso site (como forma de divulgação), da situação do saneamento básico daquela área, e dicas de como poder ajudar a área nessa situação. 
            Além disso, os Barracões também servem como um ponto de encontro para pessoas que queiram ajudar a região, podendo ser um local de doações, arrecadações, e até mesmo um local de trabalho para pessoas que queiram ajudar a região.

        </p>
      </section>
      <section>
        <p>
          Caso você tenha vontade de criar um barracão em sua região para ajudar, <strong>ENTRE EM CONTATO</strong> conosco, e iremos te ajudar com isso.
        </p>
      </section>
      <figure>
        <img src="/images/pag barracao 1 - barracoes.jpeg" alt="Imagem Barracões">
        <figcaption>Exemplo de Barracão em Mato Grosso</figcaption>
      </figure>
    </article>
  </main>
  <%- include('../partials/footer.ejs') %>
  
</body>
</html>