<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ODS6 - Saneamento Básico e Água Potável</title>
  <link rel="stylesheet" href="css/feed.css">
  <link rel="stylesheet" href="css/index.css">
</head>
    <body>
  <%- include('../partials/header.ejs') %>

    <main>
        <section id="feed">
        <h1>Feed de Notícias</h1>
        <div class="feed-grid">
            <article>
                <h2>Brasil avança em metas de saneamento básico, mas desafios persistem</h2>
                <p>O Brasil tem feito progressos significativos na melhoria do saneamento básico, com um aumento no acesso à água potável e ao tratamento de esgoto. No entanto, ainda há desafios a serem enfrentados, especialmente em áreas rurais e periferias urbanas.</p>
            </article>
            <article>
                <h2>Iniciativas comunitárias promovem o uso consciente da água</h2>
                <p>Comunidades em todo o Brasil estão adotando práticas sustentáveis para o uso da água, incluindo campanhas de conscientização e projetos de captação de água da chuva. Essas iniciativas são essenciais para garantir a disponibilidade desse recurso vital para as futuras gerações.</p>
            </article>
            <article>
                <h2>Saneamento urbano: desafios e soluções para cidades brasileiras</h2>
                <p>As cidades brasileiras enfrentam desafios significativos em relação ao saneamento urbano, incluindo a falta de infraestrutura adequada e a poluição dos corpos d'água. Soluções inovadoras, como o uso de tecnologias verdes e a participação comunitária, estão sendo exploradas para enfrentar esses problemas.</p>
            </article>
            <article>
                <h2>Educação ambiental: formando cidadãos conscientes sobre o saneamento</h2>
                <p>A educação ambiental desempenha um papel crucial na promoção do saneamento básico. Programas educacionais em escolas e comunidades estão ajudando a formar cidadãos conscientes sobre a importância do saneamento e do uso sustentável dos recursos hídricos.</p>
            </article>
        </div>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
    </body>
</html>