<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Principais Notícias - SP</title>
  <link rel="stylesheet" href="css/noticia.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/header.css"
  
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">
      <img src="/images/logo_DOH-removebg-preview.png" alt="Logo ODS6">
      </a>
    </div>
    <div class="container">  
      <nav>
        <ul>
          <li><a href="noticia">Notícia</a></li>
          <li><a href="ongs">ONGs</a></li>
          <li><a href="barracoes">Barracões</a></li>
          <li><a href="Info-Ongs">Info Ongs</a></li>
          <li><a href="Login">Login</a></li>
          <li class="barraP"><input type="search" placeholder="Buscar..."></li>
        </ul>
      </nav>
    </div>
<div class="user-profile">
  <a href="/login">
    <img class="PerfilLogo" src="/images/perfil-de-usuario.png" alt="Perfil do Usuário">
  </a>
</div>
  </header>

  <main>
    <section id="noticias">
      <h1>Principais Notícias - SP</h1>
      <div class="noticias-list">
        <article>
          <img src="/images/pag noticia 1 - Sabesp.jpeg" alt="Privatização Sabesp">
          <h2>Privatização da Sabesp entra em fase final com cronograma para venda</h2>
        </article>
        <article>
          <img src="/images/pag noticia 3 - Tiete.jpeg" alt="Rio Tietê">
          <h2>SP lança nova etapa de obras de limpeza do rio Tietê, com investimento de R$ 233 mi</h2>
        </article>
        <article>
          <img src="/images/pag noticia 2 - Agricultura.jpeg" alt="Agricultura Familiar">
          <h2>Governo de SP regulariza terras e promove ações que fortalecem a agricultura familiar</h2>
        </article>
      </div>
    </section>
  </main>
  <p class="dot">.</p>
<p class="dot">.</p>
<p class="dot">.</p>
<p class="dot">.</p>
<p class="dot">.</p>
<p class="dot">.</p>
<p class="dot">.</p>
<p class="dot">.</p>


<%- include('../partials/footer.ejs') %>
</body>
</html>