<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ONG's - São Paulo</title>
  <link rel="stylesheet" href="css/ongs.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <%- include('../partials/header.ejs') %>

  <main>
    <section id="ongs">
      <h1>ONG's</h1>
      <div class="ongs-list">
        <article class="ong-card">
          <img src="/images/Ong - Caminho das Aguas.jpeg" alt="Logo Caminho das Águas">
          <h2>ONG Caminho das Águas</h2>
        </article>
        <article class="ong-card">
          <img src="/images/Ong - Agua para todos.jpeg" alt="Logo Água Para Todos">
          <h2>ONG Água Para Todos</h2>
        </article>
        <article class="ong-card">
          <img src="/images/Ong- Agua Sustentavel.jpeg" alt="Logo Água Sustentável">
          <h2>ONG Água Sustentável</h2>
        </article>
      </div>
    </section>
  </main>

<%- include('../partials/footer.ejs') %>
</body>
</html>