<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Info ONGs - Caminho das Águas</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/ongs.css">
</head>
<body>
  <%- include('../partials/header.ejs') %>

  <main>
    <section id="info-ongs">
      <h1>Caminho das Águas</h1>
      <figure>
        <img src="/images/Ong - Caminho das Aguas.jpeg" alt="Logo Caminho das Águas">
      </figure>
      <p>
        Fundado em 2005, o Caminho das Águas é um Movimento Sócio-Ambiental que cuida intensamente das Águas, unindo as Pessoas e a Natureza.
      </p>
      <p>
        O trabalho da organização é focado em 4 tipos de ações, sendo elas: Ativismos e Poderes Humanos, educação para a Sustentabilidade, Permacultura e Metareciclagem.
      </p>
      <div class="actions">
        <button class="btn-primary">Participe da ONG!</button>
        <button class="btn-secondary">Doe para ajudar!</button>
      </div>
    </section>
    <section id="info-ongs">
      <h1>Caminho das Águas</h1>
      <figure>
        <img src="/images/Ong - Agua para todos.jpeg" alt="Logo Caminho das Águas">
      </figure>
      <p>
        Fundado em 2005, o Caminho das Águas é um Movimento Sócio-Ambiental que cuida intensamente das Águas, unindo as Pessoas e a Natureza.
      </p>
      <p>
        O trabalho da organização é focado em 4 tipos de ações, sendo elas: Ativismos e Poderes Humanos, educação para a Sustentabilidade, Permacultura e Metareciclagem.
      </p>
      <div class="actions">
        <button class="btn-primary">Participe da ONG!</button>
        <button class="btn-secondary">Doe para ajudar!</button>
      </div>
    </section>
    <section id="info-ongs">
      <h1>Caminho das Águas</h1>
      <figure>
        <img class="OngInfo" src="/images/Ong- Agua Sustentavel.jpeg" alt="Logo Caminho das Águas">
      </figure>
      <p>
        Fundado em 2005, o Caminho das Águas é um Movimento Sócio-Ambiental que cuida intensamente das Águas, unindo as Pessoas e a Natureza.
      </p>
      <p>
        O trabalho da organização é focado em 4 tipos de ações, sendo elas: Ativismos e Poderes Humanos, educação para a Sustentabilidade, Permacultura e Metareciclagem.
      </p>
      <div class="actions">
        <button class="btn-primary">Participe da ONG!</button>
        <button class="btn-secondary">Doe para ajudar!</button>
      </div>
    </section>
  </main>


  <%- include('../partials/footer.ejs') %>
</body>
</html>